body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-box{
position: absolute;
left: 10%;
right: 10%;
top: 15%;
bottom: 15%;
background-color: black;
}

.title{
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
}

.input-area{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%,-20%);
  width: 20rem;
}

.reset-btn{
  cursor: pointer;
  position: absolute;
  left: 69%;
  top: 20.2%;
  transform: translate(-68%,-20%);
  padding: 0;
}

.text-box{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);
  width: 20.5rem;
  background-color: black;
  border: 1px solid white;
  height: 15rem;
  color: white;
}
